<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>ASCII-ART-WEB</header>
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="/Templates/style.css">
   
</head>
<body>
    <form method="POST" action="/ascii-art">
          
        <label for="text" id="input">Please enter the text to generate</label><br>
        <div class="input-container">
            <div class="sss"></div>
            <textarea class="input" name="text" style="font-size: 16px; width: 700px;" id="text" placeholder="ASCII Characters Only"></textarea>
        </div><br>

        <label for="fonts">Please choose the font that you want</label><br>
        
        <div class="labelat">
            <input type="radio" name="fonts" value="standard" id="standard">
            <label for="standard">Standard</label>
            <input type="radio" name="fonts" value="thinkertoy" id="thinkertoy">
            <label for="thinkertoy">Thinkertoy</label>
            <input type="radio" name="fonts" value="shadow" id="shadow">
            <label for="shadow">Shadow</label>
        </div>
        <div>
            <input type="submit" style="padding: 8px 16px; font-size: 16px;" value="Generate" id="submit">
        </div>
    </form>
    <div> 
        <textarea name="output" id="output" cols="30" rows="10" readonly>{{.}}</textarea> 
    </div>
</body>
</html>