header {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

body {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-image: url("./pngtree-vibrant-abstract-art-colorful-paint-texture-background-wallpaper-image_13772345.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(70, 62, 62)
}

#text,
#output {
    width: 80%;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
}
h1 {
    background-color: red;
}
input[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgb(78, 55, 55);
    text-decoration: underline;

}

label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
    color:black;
    background-image: url("./istockphoto-829309362-612x612.jpg");
    background-size: contain;
    font-size: 300px;
    font-family:'Times New Roman', Times, serif;
    
}
.input::placeholder {
    color: white; 
}
.input:hover {
    background-color: black;
    background-image: none;
}
#submit {
    color: white;
    border: 2px solid #ffffff;
    padding: 8px 16px;
    font-size: 16px;
    transition: box-shadow 0.2s ease-in-out;
    text-decoration: underline ;
    font-weight: bold;
    background-color:  black;
}


#submit:hover {
    background: radial-gradient(black ,rgba(6, 6, 6, 0.2) 80%);
    box-shadow: 0 0 10px white;
    
}
.sss {
    width: 20px;
    height: 20px;
    background-color: green;
    animation-name: moveAround;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
}

.input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

textarea.input {
    font-size: 16px;
    height: 100px; 
}

@keyframes moveAround {
    0% {
        left: 0px;
        top: 0;
        color: black;
    }
    25% {
        left: calc(100% - 20px);
        top: 0;
        color: red;
    }
    50% {
        left: calc(100% - 20px);
        top: calc(100% - 20px);
        color: blue;
    }
    75% {
        left: 0px;
        top: calc(100% - 20px);
        color: white;
    }
    100% {
        left: 0px;
        top: 0;
        color: green;
    }
}
